<!DOCTYPE html>
<html>
	<head>
		<title>Sistema Comunique</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="#springUrl('/resources/assets/css/bootstrap.min.css')" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="#springUrl('/resources/assets/css/font-awesome.min.css')" rel="stylesheet">		
		<!-- jQuery gritter -->
		<link href="css/jquery.gritter.css" rel="stylesheet">
		<!-- Custom Color CSS -->
		<link href="#springUrl('/resources/assets/css/less-style.css')" rel="stylesheet">	
		<!-- Custom CSS -->
		<link href="#springUrl('/resources/assets/css/style.css')" rel="stylesheet">
	</head>
	
	<body>

		<div class="outer">
			
			<!-- Sidebar starts -->
			#parse('layout/menu_lateral.vm')
			<!-- Sidebar ends -->
			
			<!-- Mainbar starts -->
			<div class="mainbar">
			
				<!-- Mainbar head starts -->
				#parse('layout/head.vm')
				<!-- Mainbar head ends -->
				
				<div class="main-content">
					<div class="container">
										
						$screen_content
						
					</div>
				</div>
				
			</div>
			<!-- Mainbar ends -->
			
			<div class="clearfix"></div>
		</div>
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="#springUrl('/resources/assets/js/jquery.js')"></script>
		<!-- Bootstrap JS -->
		<script src="#springUrl('/resources/assets/js/bootstrap.min.js')"></script>
		
		<!-- jQuery UI -->
		<script src="#springUrl('/resources/assets/js/jquery-ui.min.js')"></script>
			
		<!-- jQuery slim scroll -->
		<script src="#springUrl('/resources/assets/js/jquery.slimscroll.min.js')"></script>
			
		
		
		<!-- jQuery gritter -->
		<script src="js/jquery.gritter.min.js"></script>
		<!-- jQuery gritter notification -->
		<script src="js/custom.notification.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>

		
		<!-- Custom JS -->
		<script src="#springUrl('/resources/assets/js/custom.js')"></script>
		

		
	</body>	
</html>



