<div class="sidebar">
			
				<div class="sidey">
			
					<!-- Logo -->
					<div class="logo">
						<h1><a href="/"><img src="#springUrl('/resources/assets/img/prefeitura_logo.png')" /></a></h1>
					</div>
					
					<!-- Sidebar navigation starts -->
					
					<!-- Responsive dropdown -->
					<div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
					
					<div class="side-nav">
					
						<div class="side-nav-block">
							<!-- Sidebar heading -->
							<h4>Main</h4>
							<!-- Sidebar links -->
							<ul class="list-unstyled">
								<li><a href="index.html"><i class="fa fa-desktop"></i> Dashboard</a></li>
								
								
								<li><a href="ui.html"><i class="fa fa-wrench"></i> UI</a></li>
								<!-- Mainmenu with submenu -->
								<li class="has_submenu">
									<a href="#"><i class="fa fa-file"></i> Pages <span class="nav-caret fa fa-caret-down"></span></a>
									<!-- Submenu -->
									<ul class="list-unstyled">
										<li><a href="calendar.html"><i class="fa fa-angle-double-right"></i> Calendar</a></li>
										<li><a href="errorlog.html"><i class="fa fa-angle-double-right"></i> Error Logs</a></li>
										<li><a href="gallery.html"><i class="fa fa-angle-double-right"></i> Gallery</a></li>
										
									</ul>
								</li>
								<li><a href="users.html" class="active"><i class="fa fa-user"></i> Users</a></li>
								<!-- Mainmenu with submenu -->
								<li class="has_submenu">
									<a href="#"><i class="fa fa-file-text-o"></i> Forms <span class="nav-caret fa fa-caret-down"></span></a>
									<!-- Submenu -->
									<ul class="list-unstyled">
										<li><a href="form.html"><i class="fa fa-angle-double-right"></i> General Form</a></li>
										<li><a href="form-validate.html"><i class="fa fa-angle-double-right"></i> Validate Form</a></li>
										<li><a href="form-wizard.html"><i class="fa fa-angle-double-right"></i> Wizard Form</a></li>
									</ul>
								</li>
								<!-- Mainmenu with submenu -->
								
								<!-- Mainmenu with submenu -->
								<li class="has_submenu">
									<a href="#"><i class="fa fa-envelope"></i> Mail <span class="nav-caret fa fa-caret-down"></span></a>
									<!-- Submenu -->
									<ul class="list-unstyled">
										<li><a href="inbox.html"><i class="fa fa-angle-double-right"></i> Inbox</a></li>
										<li><a href="mail-read.html"><i class="fa fa-angle-double-right"></i> Mail Read</a></li>
										<li><a href="mail-write.html"><i class="fa fa-angle-double-right"></i> Mail Compose</a></li>
									</ul>
								</li>
							</ul>
						</div>
						
						
						
						
					</div>
					
					<!-- Sidebar navigation ends -->
					
				</div>
			</div>