<div class="sidebar">
			
	<div class="sidey">
			
	<!-- Logo -->
		<div class="logo">
			<h1><a href="/"><img src="#springUrl('/resources/assets/img/prefeitura_logo.png')" /></a></h1>
		</div>
		
		<!-- Responsive dropdown -->
		<div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
					
		<div class="side-nav">
			<div class="side-nav-block">
			<h4>Principal</h4>
			
			<ul class="list-unstyled">
			<li><a href="#springUrl('/admin/processos')"><i class="fa fa-file-text-o"></i> Processos</a></li>
								
								
			##<li><a href="ui.html"><i class="fa fa-wrench"></i> UI</a></li>
								<!-- Mainmenu with submenu -->
						
								
								<!-- Mainmenu with submenu -->
								
			</ul>
		</div>
		</div>
					
					<!-- Sidebar navigation ends -->
					
		</div>
</div>