<div class="page-content">
	<div class="single-head">
		<h3 class="pull-left"><i class="fa fa-file-o"></i> Processo $processo.processo</h3>
		<div class="breads pull-right"><strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Processos</a> / processo</div>
		<div class="clearfix"></div>
	</div>
							
	<div class="page-inbox">
		<div class="row">
			<div class="col-md-9 col-sm-8">

										<div class="mail-read">
											
											<div class="mail-details">
												
												<h5>Detalhe</h5>
											
												<div class="mail-attach">
													<div class="attach-data">
											
														<p><strong>interessado:</strong> $processo.interessado</p>
														<div class="clearfix"></div>
													</div>
													<div class="attach-data">
											
														<p><strong>Codigo Assunto:</strong> $processo.codigoAssunto</p>
														<div class="clearfix"></div>
													</div>
													<div class="attach-data">
											
														<p><strong>Assunto:</strong> $processo.assunto</p>
														<div class="clearfix"></div>
													</div>
													<div class="attach-data">
											
														<p><strong>Situação:</strong> $processo.situacao.label</p>
														<div class="clearfix"></div>
													</div>
												</div> 
											</div> 
											
											
											
											
											
										</div> 
									</div>
								</div>
							</div>

							<br><br>

							<div class="row">
								<div class="col-md-9">
									<!-- Contacts widget -->
									<div class="widget contacts-widget">
										
										<div class="widget-head br-blue">
											<h3><i class="fa fa-tasks"></i> Tramitações</h3>
										</div>
										
										<div class="widget-body scroll">
											
											<ul class="list-unstyled">
											
																								
												#foreach($t in $processo.tramitacoes)
												
											
												<li class="c-list">
													<!-- Contact pic -->
													
													<!-- Contact details -->
													<div class="contact-details">
														<!-- Contact name and number -->
														<div class="pull-left">
															<strong>$t.setorDestino.codigoSetor - $t.setorDestino.nomeSetor</strong>
															<small>ENVIADO: $date.format('dd/MM/yyyy', $t.dataEnvio) $t.horaEnvio</small>
															<small>RECEBIDO: $date.format('dd/MM/yyyy', $t.dataRecebido) $t.horaRecebido</small>
														</div>
														<!-- Call, Message and Email buttons -->
														<div class="pull-right">
															
															#if($t.obs != "")
															<a class="btn btn-danger btn-xs ui-tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="OBS: $t.obs"><i class="fa fa-comment-o""></i></a>
															#end

															<a href="#" onclick="abriMapa('#springUrl('/endereco/')$t.setorDestino.codigoSetor')" class="btn btn-info btn-xs ui-tooltip" data-toggle="tooltip" data-placement="bottom" title="Mapa"><i class="fa fa-map-marker"></i></a>
															<a href="#" onclick="comunique('#springUrl('/admin/tramitacao/')$t.id/comunique')" class="btn btn-primary btn-xs ui-tooltip" data-toggle="tooltip" data-placement="bottom" title="Comunicado"><i class="fa fa-envelope-o"></i></a>
														</div>
														<div class="clearfix"></div>
													</div>
													
												##	#if($t.obs != "")<div class="alert alert-success"><strong>Obs:</strong> $t.obs</div>#end

												</li>
												
												
												
												
											#end	
											
																				
												
											</ul>
																					
										</div>
										
										<div class="widget-foot">
											<span class="pull-left">$processo.tramitacoes.size() Tramitações</span>
											
											<div class="clearfix"></div>
										</div>
										
									</div>
								</div>


							
						</div>
						
					</div>