<div class="page-content">
	<div class="single-head">
		<h3 class="pull-left"><i class="fa fa-exclamation-triangle red"></i> Operação Efetuada com sucesso</h3>
		<div class="clearfix"></div>
	</div>
							
	
	
	
</div>